  openapi: 3.0.3
  info:
    title: ⚒️ API Reference
    version: 1.0.1
    description: |
      The **Saturation API** lets you work with your workspace data including projects, budgets, actuals, contacts, purchase orders, and attachments.

      It is built for real-time collaboration and automation so you can connect it to your internal tools or third-party systems. Any changes you make through the API appear instantly in the web app.

      With it, you can:

      * Create, update, and organize projects and phases
      * Build and track multi-phase budgets
      * Sync actuals and purchase orders
      * Manage contacts and crew
      * Upload, retrieve, and organize attachments

      ---

      **🔑 Authentication**
      ```http
      GET /api/v1/projects
      X-API-Key: YOUR_API_KEY
      ```
      \
      **📊 Get everything in one call**
      ```http
      GET /projects/my-film/budget?expands[]=phases&expands[]=fringes&expands[]=lines.contact&expands[]=lines.phaseData
      ```
      Returns the complete budget with all related records, no extra roundtrips.
      \
      \
      **🏷️ Use your existing codes**
      ```http
      GET /projects/my-film/budget/line/1100-LABOR    # Your account code
      GET /projects/my-film/budget/phases/estimate    # Your phase name
      POST /projects/my-film/actuals                  # Create with your codes
      {
        "lineItemId": "2150-CAMERA",
        "amount": 5000
      }
      ```
      The API speaks your language. Use the same codes from your accounting system.
      \
      \
      **🔄 Common patterns**
      ```http
      # Get recent actuals with full details
      GET /projects/my-film/actuals?date=2024-03-14&expands[]=contact&expands[]=attachments

      # Create a purchase order
      POST /projects/my-film/purchase-orders
      {
        "number": "PO-001",
        "contactId": "contact-123",
        "items": [{"lineItemId": "2150", "amount": 35000}]
      }
      
      # Export complete budget for accounting
      GET /projects/my-film/budget?expands[]=phases&expands[]=fringes&expands[]=globals
      ```
      \
      **💡 Pro tips**
      * Create multiple budget lines in one POST to `/budget`
      * Use tags liberally—they're your flexible second dimension
      * Combine `accountId`, `tags`, and `date` filters for precise queries

    contact:
      name: Saturation API Support
      url: https://support.saturation.io
    license:
      name: Proprietary
      url: https://saturation.io/terms

  servers:
    - url: https://api.saturation.io/api/v1
      description: Production server

  x-tagGroups:
    - name: Workspace
      tags:
        - Projects
        - Contacts
        - Rates
        - Transactions
    - name: Project
      tags:
        - Budget
        - Budget - Accounts
        - Budget - Phases
        - Budget - Fringes
        - Budget - Globals
        - Actuals
        - Purchase Orders
    - name: Misc
      tags:
        - Tags
        - Files
        - Public Rates
        - Spaces
        - Comments

  security:
    - ApiKeyAuth: []

  paths:
    /projects:
      get:
        operationId: listProjects
        summary: List projects
        description: Retrieve projects for the current workspace. Supports filtering by ID, space, status, name, space name, or labels.
        tags:
          - Projects
        parameters:
          - name: id
            in: query
            description: Return only projects matching these IDs or aliases
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["nike-swoosh-commercial"]
            x-example-description: "Use as: id[]=nike-swoosh-commercial&id[]=another-project"
          - name: spaceId
            in: query
            description: Return projects belonging to these space IDs or aliases
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["commercial-productions"]
          - name: status
            in: query
            description: Filter by project status
            schema:
              type: string
              enum: [active, archived]
            example: active
          - name: name
            in: query
            description: Case-insensitive substring match on project name
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["Swoosh"]
          - name: spaceName
            in: query
            description: Case-insensitive substring match on space name
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["Commercial"]
          - name: labels
            in: query
            description: Return projects that include all specified labels
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["nike", "q2-2024"]
        responses:
          '200':
            description: List of projects
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    projects:
                      type: array
                      items:
                        $ref: '#/components/schemas/Project'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'

      post:
        operationId: createProject
        summary: Create project
        description: Create a new project in the current workspace
        tags:
          - Projects
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProjectInput'
        responses:
          '201':
            description: Project created successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Project'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}:
      parameters:
        - $ref: '#/components/parameters/ProjectId'

      get:
        operationId: getProject
        summary: Get project
        description: Retrieve a project by its ID or alias
        tags:
          - Projects
        responses:
          '200':
            description: Project details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Project'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '413':
            description: Payload too large
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
          '500':
            $ref: '#/components/responses/InternalServerError'

      put:
        operationId: updateProject
        summary: Update project
        description: Update an existing project's details
        tags:
          - Projects
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProjectInput'
        responses:
          '200':
            description: Project updated successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Project'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

      delete:
        operationId: deleteProject
        summary: Delete project
        description: Soft delete a project
        tags:
          - Projects
        responses:
          '204':
            description: Project deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: getBudget
        summary: Get budget
        description: Retrieve budget information for a project
        tags:
          - Budget
        parameters:
          - name: accountId
            in: query
            description: Filter by account ID or code (defaults to root account)
            schema:
              type: string
            example: "2150"
          - name: phaseId
            in: query
            description: Filter by phase ID(s)
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["estimate", "actual"]
          - name: includeHiddenPhases
            in: query
            description: Include hidden phases in the response
            schema:
              type: boolean
            example: false
          - name: excludeSubAccounts
            in: query
            description: Exclude sub-accounts from the response
            schema:
              type: boolean
            example: false
          - name: tags
            in: query
            description: Filter budget by tag names (can be single tag or array of tags)
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["Marketing", "Engineering"]
          - name: tagFilterMode
            in: query
            description: How to apply the tag filter
            schema:
              type: string
              enum: [contains, excludes]
              default: contains
            example: contains
          - name: expands
            in: query
            description: Include related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [fringes, phases, globals, lines.contact, lines.phaseData]
            style: form
            explode: true
            example: ["phases", "lines.contact"]
            x-example-description: "Use as: expands[]=phases&expands[]=lines.contact"
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Budget information
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Budget'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

      post:
        operationId: createBudgetLines
        summary: Create budget lines
        description: |
          Add new budget lines to an existing account within the budget hierarchy. 
          
          This endpoint creates line items, sub-accounts, subtotals, or markups at the specified location in your budget structure. The target account must already exist in the budget hierarchy.
          
          Use `accountId: "root"` to add lines at the top level of your budget.
        tags:
          - Budget
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBudgetInput'
              examples:
                createTopLevel:
                  summary: Create top-level accounts
                  value:
                    accountId: "root"
                    lines:
                      - type: "account"
                        accountId: "1000"
                        description: "Above-the-Line"
                      - type: "account"
                        accountId: "2000"
                        description: "Below-the-Line"
                createInAccount:
                  summary: Add lines to existing account
                  value:
                    accountId: "2000"
                    lines:
                      - type: "line"
                        accountId: "2150"
                        description: "Camera Package - Alexa 35"
                        phaseData:
                          estimate:
                            quantity: 5
                            unit: "days"
                            rate: 7500
                createNonExistent:
                  summary: Create in non-existent account
                  value:
                    accountId: "2000/2100"
                    lines:
                      - type: "line"
                        description: "DP - Roger Deakins"
                        phaseData:
                          estimate:
                            quantity: 20
                            unit: "days"
                            rate: 5000
        responses:
          '201':
            description: Budget lines created successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Budget'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget/line/{lineId}:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: lineId
          in: path
          required: true
          description: Budget line identifier. Can be either a user-friendly ID (e.g., account code) or a system ID (UUID/nanoid), depending on the idMode parameter
          schema:
            type: string
      
      get:
        operationId: getBudgetLine
        summary: Get budget line
        description: |
          Retrieve a specific budget line by its identifier.
          
          The lineId parameter accepts both user-friendly IDs and system IDs:
          - With `idMode=user` (default): Use account codes like "1100" or "camera-dept"
          - With `idMode=system`: Use UUIDs/nanoids like "abc123xyz" or "550e8400-e29b-41d4-a716"
        tags:
          - Budget
        parameters:
          - name: includeHiddenPhases
            in: query
            description: Include hidden phases in the response
            schema:
              type: boolean
            example: false
          - name: tags
            in: query
            description: Filter budget line by tag names (can be single tag or array of tags)
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["Marketing", "Engineering"]
          - name: tagFilterMode
            in: query
            description: How to apply the tag filter
            schema:
              type: string
              enum: [contains, excludes]
              default: contains
            example: contains
          - name: expands
            in: query
            description: Include related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [contact, phaseData]
            style: form
            explode: true
            example: ["contact", "phaseData"]
            x-example-description: "Use as: expands[]=contact&expands[]=phaseData"
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Budget line details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BudgetLine'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      put:
        operationId: updateBudgetLine
        summary: Update budget line
        description: |
          Update an existing budget line with new values.
          
          The lineId in the path accepts both ID formats based on the idMode in the request body:
          - User-friendly IDs: Account codes like "2150" or descriptive IDs
          - System IDs: Database identifiers when idMode is set to "system"
        tags:
          - Budget
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBudgetLineRequest'
              examples:
                updateDescription:
                  summary: Update line description
                  value:
                    type: line
                    description: "Director - Christopher Nolan"
                updatePhaseData:
                  summary: Update phase data
                  value:
                    type: line
                    phaseData:
                      estimate:
                        quantity: 15
                        rate: 30000
                convertToAccount:
                  summary: Convert line to account
                  value:
                    type: line
                    convertToAccount: true
                    description: "Above-the-Line Personnel"
        responses:
          '200':
            description: Updated budget line
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BudgetLine'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      delete:
        operationId: deleteBudgetLine
        summary: Delete budget line
        description: |
          Delete a budget line from the project.
          
          The lineId parameter accepts both ID formats:
          - With `idMode=user` (default): Use human-readable IDs
          - With `idMode=system`: Use system-generated IDs
        tags:
          - Budget
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '204':
            description: Budget line deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/actuals:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: listActuals
        summary: List actuals
        description: Retrieve actual spending data for a project
        tags:
          - Actuals
        parameters:
          - name: accountId
            in: query
            description: Filter by account ID(s) or codes
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["2150"]
          - $ref: '#/components/parameters/StartDate'
          - $ref: '#/components/parameters/EndDate'
          - $ref: '#/components/parameters/HasAttachments'
          - name: hasAssignedAccount
            in: query
            description: Filter by whether an account is assigned
            schema:
              type: boolean
            example: true
          - name: hasLinkedTransaction
            in: query
            description: Filter by presence of linked transactions
            schema:
              type: boolean
            example: false
          - name: sourceIds
            in: query
            description: Filter by source IDs
            schema:
              type: array
              items:
                type: string
            style: form
            explode: true
            example: ["txn-123"]
          - name: expands
            in: query
            description: Include related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [contact, subactual, account, subactual.account]
            style: form
            explode: true
            example: ["contact", "attachments"]
            x-example-description: "Use as: expands[]=contact&expands[]=attachments"
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of actuals
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    actuals:
                      type: array
                      items:
                        $ref: '#/components/schemas/Actual'
                    totalAmount:
                      type: number
                      format: float
                      example: 450000.00
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

      post:
        operationId: createActual
        summary: Create actual
        description: Create a new actual entry for a project
        tags:
          - Actuals
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateActualInput'
        responses:
          '201':
            description: Actual created successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Actual'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/actuals:batch:
      parameters:
        - $ref: '#/components/parameters/ProjectId'

      post:
        operationId: batchCreateActuals
        summary: Batch create actuals
        description: Create multiple actual entries in a single request
        tags:
          - Actuals
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  replace:
                    type: boolean
                    default: false
                    description: Replace existing project actuals before inserting new items
                  actuals:
                    type: array
                    maxItems: 5000
                    items:
                      $ref: '#/components/schemas/CreateActualInput'
                required:
                  - items
        responses:
          '200':
            description: Batch processed successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BatchActualsResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/actuals/{actualId}:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: actualId
          in: path
          required: true
          description: Actual identifier (alias or ID)
          schema:
            type: string
            example: actual-001
      
      get:
        operationId: getActual
        summary: Get actual
        description: Retrieve a specific actual entry
        tags:
          - Actuals
        parameters:
          - name: expands
            in: query
            description: Include related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [contact, subactual, account, subactual.account]
            style: form
            explode: true
            example: ["contact", "account"]
            x-example-description: "Use as: expands[]=contact&expands[]=account"
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Actual details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Actual'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      put:
        operationId: updateActual
        summary: Update actual
        description: Update an existing actual entry
        tags:
          - Actuals
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateActualInput'
        responses:
          '200':
            description: Actual updated successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Actual'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      delete:
        operationId: deleteActual
        summary: Delete actual
        description: Delete an actual entry
        tags:
          - Actuals
        responses:
          '204':
            description: Actual deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/actuals/{actualId}/attachment:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: actualId
          in: path
          required: true
          description: Actual ID
          schema:
            type: string
            example: actual-001
      
      post:
        operationId: uploadActualAttachment
        summary: Upload actual attachment
        description: |-
          Upload a receipt or other supporting document for an actual.
          Accepts PDF or image files up to 10&nbsp;MB.
        tags:
          - Actuals
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                    description: Attachment file
                required:
                  - file
        responses:
          '201':
            description: Attachment uploaded successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/File'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/purchaseOrders:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: listPurchaseOrders
        summary: List purchase orders
        description: Retrieve purchase orders for a project
        tags:
          - Purchase Orders
        parameters:
          - name: accountId
            in: query
            description: Filter by account ID(s) or codes
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["2150"]
          - $ref: '#/components/parameters/StartDate'
          - $ref: '#/components/parameters/EndDate'
          - $ref: '#/components/parameters/HasAttachments'
          - name: status
            in: query
            description: Filter by purchase order status
            schema:
              oneOf:
                - type: string
                  enum: [draft, approved, rejected, pending, paid]
                - type: array
                  items:
                    type: string
                    enum: [draft, approved, rejected, pending, paid]
            style: form
            explode: true
            example: ["approved", "pending"]
          - name: expands
            in: query
            description: Include related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [contact, actuals, items, items.account]
            style: form
            explode: true
            example: ["contact", "purchaseOrderItems"]
            x-example-description: "Use as: expands[]=contact&expands[]=purchaseOrderItems"
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of purchase orders
            content:
              application/json:
                schema:
                  type: object
                  required:
                    - purchaseOrders
                  properties:
                    purchaseOrders:
                      type: array
                      items:
                        $ref: '#/components/schemas/PurchaseOrder'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/purchaseOrders/{purchaseOrderId}:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: purchaseOrderId
          in: path
          required: true
          description: Purchase order identifier (alias or ID)
          schema:
            type: string
            example: po-2024-001
      
      get:
        operationId: getPurchaseOrder
        summary: Get purchase order
        description: Retrieve a specific purchase order
        tags:
          - Purchase Orders
        parameters:        
          - name: expands
            in: query
            description: Include related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [contact, actuals, items, items.account]
            style: form
            explode: true
            example: ["contact", "purchaseOrderItems.account"]
            x-example-description: "Use as: expands[]=contact&expands[]=purchaseOrderItems.account"
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Purchase order details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PurchaseOrder'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      post:
        operationId: createPurchaseOrder
        summary: Create purchase order
        description: Create a new purchase order for a project
        tags:
          - Purchase Orders
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePurchaseOrderInput'
        responses:
          '201':
            description: Purchase order created successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PurchaseOrder'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      put:
        operationId: updatePurchaseOrder
        summary: Update purchase order
        description: Update an existing purchase order
        tags:
          - Purchase Orders
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePurchaseOrderInput'
        responses:
          '200':
            description: Purchase order updated successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PurchaseOrder'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      delete:
        operationId: deletePurchaseOrder
        summary: Delete purchase order
        description: Delete a purchase order
        tags:
          - Purchase Orders
        responses:
          '204':
            description: Purchase order deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/purchaseOrders/{purchaseOrderId}/attachment:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: purchaseOrderId
          in: path
          required: true
          description: Purchase order identifier (alias or ID)
          schema:
            type: string
            example: po-2024-001
      
      post:
        operationId: uploadPurchaseOrderAttachment
        summary: Upload purchase order attachment
        description: |-
          Upload a supporting document for a purchase order.
          Accepts PDF or image files up to 10&nbsp;MB.
        tags:
          - Purchase Orders
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                    description: Attachment file
                required:
                  - file
        responses:
          '201':
            description: Attachment uploaded successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/File'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget/phases:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: listBudgetPhases
        summary: List budget phases
        description: Retrieve all budget phases for a project
        tags:
          - Budget - Phases
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of budget phases
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    phases:
                      type: array
                      items:
                        $ref: '#/components/schemas/Phase'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      post:
        operationId: createBudgetPhase
        summary: Create budget phase
        description: Create a new budget phase for a project
        tags:
          - Budget - Phases
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePhaseRequest'
              examples:
                estimate:
                  summary: Create estimate phase
                  value:
                    name: "Post-Production"
                    type: "estimate"
                    color: "blue"
                    currency:
                      code: "USD"
                      symbol: "$"
                      exchangeRate: 1.0
                rollup:
                  summary: Create rollup phase
                  value:
                    name: "Total Budget"
                    type: "rollup"
                    operation: "sum"
                    phaseIds: ["estimate", "contingency"]
        responses:
          '201':
            description: Created budget phase
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreatePhaseResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget/phases/{phaseId}:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: phaseId
          in: path
          required: true
          description: Phase identifier (alias or ID)
          schema:
            type: string
            example: estimate
      
      get:
        operationId: getBudgetPhase
        summary: Get budget phase
        description: Retrieve a specific budget phase
        tags:
          - Budget - Phases
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Budget phase details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Phase'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      put:
        operationId: updateBudgetPhase
        summary: Update budget phase
        description: Update an existing budget phase
        tags:
          - Budget - Phases
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePhaseRequest'
              examples:
                updateName:
                  summary: Update phase name
                  value:
                    name: "Final Post-Production"
                updateCurrency:
                  summary: Update phase currency
                  value:
                    currency:
                      code: "EUR"
                      symbol: "€"
                      exchangeRate: 0.85
        responses:
          '200':
            description: Updated budget phase
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdatePhaseResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      delete:
        operationId: deleteBudgetPhase
        summary: Delete budget phase
        description: Delete a budget phase from a project
        tags:
          - Budget - Phases
        responses:
          '204':
            description: Phase deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget/fringes:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: listBudgetFringes
        summary: List budget fringes
        description: Retrieve all fringe benefits for a project
        tags:
          - Budget - Fringes
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of fringe benefits
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    fringes:
                      type: array
                      items:
                        $ref: '#/components/schemas/Fringe'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      post:
        operationId: createBudgetFringe
        summary: Create budget fringe
        description: Create a new fringe benefit for a project
        tags:
          - Budget - Fringes
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFringeRequest'
              examples:
                percentFringe:
                  summary: Create percentage-based fringe
                  value:
                    code: "FICA"
                    description: "Social Security Tax"
                    units: "percent"
                    rate: 0.062
                    cutoff: 160200
                flatFringe:
                  summary: Create flat-rate fringe
                  value:
                    code: "HEALTH"
                    description: "Health Insurance"
                    units: "flat"
                    rate: 500
        responses:
          '201':
            description: Created fringe benefit
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateFringeResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget/fringes/{fringeId}:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: fringeId
          in: path
          required: true
          description: Fringe identifier (alias or ID)
          schema:
            type: string
            example: fica
      
      get:
        operationId: getBudgetFringe
        summary: Get budget fringe
        description: Retrieve a specific fringe benefit
        tags:
          - Budget - Fringes
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Fringe benefit details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Fringe'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      put:
        operationId: updateBudgetFringe
        summary: Update budget fringe
        description: Update an existing fringe benefit
        tags:
          - Budget - Fringes
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFringeRequest'
              examples:
                updateRate:
                  summary: Update fringe rate
                  value:
                    rate: 6.5
                updateDescription:
                  summary: Update fringe description
                  value:
                    description: "Updated Social Security Tax"
        responses:
          '200':
            description: Updated fringe benefit
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdateFringeResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      delete:
        operationId: deleteBudgetFringe
        summary: Delete budget fringe
        description: Delete a fringe benefit from a project
        tags:
          - Budget - Fringes
        responses:
          '204':
            description: Fringe deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget/globals:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: listBudgetGlobals
        summary: List budget globals
        description: Retrieve all global variables for a project
        tags:
          - Budget - Globals
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of global variables
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    globals:
                      type: array
                      items:
                        $ref: '#/components/schemas/Global'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      post:
        operationId: createBudgetGlobal
        summary: Create budget global
        description: Create a new global variable for a project
        tags:
          - Budget - Globals
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateGlobalRequest'
              examples:
                exchangeRate:
                  summary: Create exchange rate global
                  value:
                    symbol: "EUR_RATE"
                    description: "EUR to USD exchange rate"
                    formula: "0.85"
                    unit: "currency"
                overheadRate:
                  summary: Create overhead rate global
                  value:
                    symbol: "OVERHEAD"
                    description: "Overhead percentage"
                    formula: "15"
                    unit: "percent"
        responses:
          '201':
            description: Created global variable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/CreateGlobalResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget/globals/{globalId}:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: globalId
          in: path
          required: true
          description: Global variable identifier (alias or ID)
          schema:
            type: string
            example: exchange-rate
      
      get:
        operationId: getBudgetGlobal
        summary: Get budget global
        description: Retrieve a specific global variable
        tags:
          - Budget - Globals
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Global variable details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Global'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      put:
        operationId: updateBudgetGlobal
        summary: Update budget global
        description: Update an existing global variable
        tags:
          - Budget - Globals
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateGlobalRequest'
              examples:
                updateFormula:
                  summary: Update global formula
                  value:
                    formula: "0.92"
                updateDescription:
                  summary: Update global description
                  value:
                    description: "Updated EUR to USD exchange rate"
        responses:
          '200':
            description: Updated global variable
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/UpdateGlobalResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      delete:
        operationId: deleteBudgetGlobal
        summary: Delete budget global
        description: Delete a global variable from a project
        tags:
          - Budget - Globals
        responses:
          '204':
            description: Global deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/budget/accounts:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: listBudgetAccounts
        summary: List budget accounts
        description: |-
          Get a list of all budget accounts in your project, organized from top to bottom.
          
          Returns every account that appears as its own section in your budget. Each account 
          is a budget category (like "Camera Department" or "Post-Production") that contains 
          its own line items and subtotals.
          
          Perfect for:
          - Building dropdown menus to select accounts
          - Showing where you are in the budget (like breadcrumbs: Production > Camera > Equipment)
          - Getting all account names and codes without loading the entire budget
          - Understanding your budget's organization
          
          The accounts come back in a natural reading order—parent accounts first, then their 
          children. For example: [/1000 Production, /1000/1100 Camera, /1000/1200 Sound, /2000 Post]
          
          Each account includes a path showing its location in your budget structure. For instance, 
          "/2000/2100" means account 2100 sits inside account 2000.
        tags:
          - Budget - Accounts
        responses:
          '200':
            description: List of budget accounts in hierarchical order
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    accounts:
                      type: array
                      items:
                        $ref: '#/components/schemas/AccountSummary'
                example:
                  accounts:
                    - id: "abc123"
                      accountId: "1000"
                      path: "/1000"
                      description: "Above-the-Line"
                    - id: "def456"
                      accountId: "1100"
                      path: "/1000/1100"
                      description: "Directors"
                    - id: "ghi789"
                      accountId: "1200"
                      path: "/1000/1200"
                      description: "Producers"
                    - id: "jkl012"
                      accountId: "2000"
                      path: "/2000"
                      description: "Below-the-Line"
                    - id: "mno345"
                      accountId: "2100"
                      path: "/2000/2100"
                      description: "Camera Department"
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/comments:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: listComments
        summary: List comments
        description: Retrieve all comments for a project's budget
        tags:
          - Comments
        parameters:        
          - name: accountId
            in: query
            description: Filter comments by account ID or code
            schema:
              type: string
            example: "2150"
          - name: lineId
            in: query
            description: Filter comments by budget line ID or alias
            schema:
              type: string
            example: line-001
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of project comments
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    comments:
                      type: array
                      items:
                        $ref: '#/components/schemas/Comment'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /spaces:
      get:
        operationId: listSpaces
        summary: List spaces
        description: Retrieve all project spaces/folders in the workspace
        tags:
          - Spaces
        parameters:
          - name: archived
            in: query
            description: Include archived spaces
            schema:
              type: boolean
              default: false
            example: false
          - name: search
            in: query
            description: Search spaces by name (case-insensitive)
            schema:
              type: string
            example: "Nike"
          - name: expands
            in: query
            description: Expand related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [projects]
            style: form
            explode: true
            example: ["projects"]
            x-example-description: "Use as: expands[]=projects"
        responses:
          '200':
            description: List of spaces
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    spaces:
                      type: array
                      items:
                        $ref: '#/components/schemas/Space'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'

      post:
        operationId: createSpace
        summary: Create space
        description: Create a new project space/folder
        tags:
          - Spaces
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSpaceInput'
        responses:
          '201':
            description: Space created successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Space'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /spaces/{spaceId}:
      parameters:
        - name: spaceId
          in: path
          required: true
          description: Space identifier (alias or ID)
          schema:
            type: string
            example: commercial-productions
      
      get:
        operationId: getSpace
        summary: Get space
        description: Retrieve a specific space by ID or alias
        tags:
          - Spaces
        parameters:
          - name: expands
            in: query
            description: Expand related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [projects]
            style: form
            explode: true
            example: ["projects"]
            x-example-description: "Use as: expands[]=projects"
        responses:
          '200':
            description: Space details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Space'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

      put:
        operationId: updateSpace
        summary: Update space
        description: Update an existing space
        tags:
          - Spaces
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSpaceInput'
        responses:
          '200':
            description: Space updated successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Space'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

      delete:
        operationId: deleteSpace
        summary: Delete space
        description: Soft delete a space (must not contain active projects)
        tags:
          - Spaces
        responses:
          '204':
            description: Space deleted successfully
          '400':
            description: Space contains active projects
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /files/upload:
      post:
        operationId: uploadFile
        summary: Upload file
        description: |-
          Upload a file to project storage. Accepts PDF or image files up to 10&nbsp;MB.
        tags:
          - Files
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                    description: File to upload
                  projectId:
                    type: string
                    description: Associated project ID
                    example: nike-swoosh-commercial
                  type:
                    type: string
                    description: File type/category
                    example: call-sheet
                required:
                  - file
        responses:
          '201':
            description: File uploaded successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/File'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '413':
            description: File too large
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /files/{fileId}/download:
      parameters:
        - name: fileId
          in: path
          required: true
          description: File identifier
          schema:
            type: string
            example: file-001
      
      get:
        operationId: downloadFile
        summary: Download file
        description: Download/stream a file
        tags:
          - Files
        responses:
          '200':
            description: File content
            content:
              application/octet-stream:
                schema:
                  type: string
                  format: binary
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /files/{fileId}:
      parameters:
        - name: fileId
          in: path
          required: true
          description: File identifier
          schema:
            type: string
            example: file-001
      
      delete:
        operationId: deleteFile
        summary: Delete file
        description: Delete a file from storage
        tags:
          - Files
        responses:
          '204':
            description: File deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/tags:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      
      get:
        operationId: listTags
        summary: List tags
        description: |
          Retrieve all tags for a project with optional filtering and sorting.
          
          Tags are used for categorizing budget line items and enable advanced filtering
          capabilities across budget data. Each tag includes financial totals aggregated
          from all associated budget line items.
        tags:
          - Tags
        parameters:        
          - name: name
            in: query
            description: Filter tags by name (partial match search)
            schema:
              type: string
              example: "Post-Production"
          - name: sortBy
            in: query
            description: Field to sort by
            schema:
              type: string
              enum: [name]
              default: name
            example: name
          - name: sortOrder
            in: query
            description: Sort direction
            schema:
              type: string
              enum: [asc, desc]
              default: asc
            example: asc
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of project tags with financial totals
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TagsResponse'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      post:
        operationId: createTag
        summary: Create tag
        description: |
          Create a new tag for the project. Tags are used to categorize budget line items
          and enable advanced filtering capabilities.
          
          Note: Tag names cannot be changed after creation. Only the color can be updated.
        tags:
          - Tags
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTagRequest'
        responses:
          '201':
            description: Tag created successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TagResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '409':
            $ref: '#/components/responses/Conflict'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /projects/{projectId}/tags/{tagId}:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: tagId
          in: path
          required: true
          description: Tag identifier (same as tag name)
          schema:
            type: string
            example: "Post-Production"
      
      get:
        operationId: getTag
        summary: Get tag
        description: |
          Retrieve a specific tag by ID, including its financial totals aggregated
          from all associated budget line items.
        tags:
          - Tags
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Tag details with financial totals
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TagResponse'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      put:
        operationId: updateTag
        summary: Update tag
        description: |
          Update a tag's properties. Currently, only the color can be updated.
          Tag names and descriptions cannot be modified after creation.
        tags:
          - Tags
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTagRequest'
        responses:
          '200':
            description: Tag updated successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/TagResponse'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      delete:
        operationId: deleteTag
        summary: Delete tag
        description: |
          Delete a tag and remove all its assignments from budget line items.
          This operation cannot be undone.
        tags:
          - Tags
        responses:
          '204':
            description: Tag deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /contacts:
      get:
        operationId: listContacts
        summary: List contacts
        description: Retrieve contacts with optional filtering
        tags:
          - Contacts
        parameters:        
          - name: projectIds
            in: query
            description: Filter by project IDs or aliases
            schema:
              type: array
              items:
                type: string
            style: form
            explode: true
            example: ["nike-swoosh-commercial"]
          - name: accountId
            in: query
            description: Filter by account ID(s) or codes
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["2150"]
          - name: origin
            in: query
            description: Filter by contact origin
            schema:
              type: array
              items:
                type: string
                enum: [onboarding, manual]
            example: ["manual"]
            style: form
            explode: true
          - name: hasLinkedUser
            in: query
            description: Filter by linked user presence
            schema:
              type: boolean
            example: false
          - $ref: '#/components/parameters/HasAttachments'
          - name: hasTaxDocuments
            in: query
            description: Filter by tax document presence
            schema:
              type: boolean
            example: true
          - name: email
            in: query
            description: Filter by email (case-insensitive partial match)
            schema:
              type: string
            example: "producer@saturation.io"
          - name: title
            in: query
            description: Filter by title (case-insensitive partial match)
            schema:
              type: string
            example: "Producer"
          - name: expands
            in: query
            description: Include related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [secureInfo, origin, projects, projects.accounts, startwork, taxDocuments, attachments, bankInfo, linkedUser]
            style: form
            explode: true
            example: ["projects", "attachments"]
            x-example-description: "Use as: expands[]=projects&expands[]=attachments"
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of contacts
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    contacts:
                      type: array
                      items:
                        $ref: '#/components/schemas/Contact'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      post:
        operationId: createContact
        summary: Create contact
        description: Create a new contact
        tags:
          - Contacts
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateContactInput'
        responses:
          '201':
            description: Contact created successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Contact'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /contacts/{contactId}:
      parameters:
        - name: contactId
          in: path
          required: true
          description: Contact identifier (alias or ID)
          schema:
            type: string
            example: contact-studio-001
      
      get:
        operationId: getContact
        summary: Get contact
        description: Retrieve a specific contact by ID or alias
        tags:
          - Contacts
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Contact details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Contact'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      put:
        operationId: updateContact
        summary: Update contact
        description: Update an existing contact
        tags:
          - Contacts
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateContactInput'
        responses:
          '200':
            description: Contact updated successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Contact'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /contacts/{contactId}/tax-document:
      parameters:
        - name: contactId
          in: path
          required: true
          description: Contact identifier (alias or ID)
          schema:
            type: string
            example: contact-studio-001
      
      post:
        operationId: uploadContactTaxDocument
        summary: Upload tax document
        description: |-
          Upload a tax document (e.g., W-9) for a contact.
          Accepts PDF or image files up to 10&nbsp;MB.
        tags:
          - Contacts
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                    description: Tax document file
                required:
                  - file
        responses:
          '201':
            description: Tax document uploaded successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/File'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /contacts/{contactId}/attachment:
      parameters:
        - name: contactId
          in: path
          required: true
          description: Contact identifier (alias or ID)
          schema:
            type: string
            example: contact-studio-001
      
      post:
        operationId: uploadContactAttachment
        summary: Upload attachment
        description: |-
          Upload a file to a contact profile.
          Accepts PDF or image files up to 10&nbsp;MB.
        tags:
          - Contacts
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                    description: Attachment file
                required:
                  - file
        responses:
          '201':
            description: Attachment uploaded successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/File'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /transactions:
      get:
        operationId: listTransactions
        summary: List transactions
        description: Retrieve financial transactions with comprehensive filtering
        tags:
          - Transactions
        parameters:        
          - name: type
            in: query
            description: Filter by transaction type
            schema:
              type: array
              items:
                type: string
                enum: [bank.deposit, bank.withdrawal, bank.ach, bank.wire, card.spend, card.payment, card.dispute, card.refund, card.cashback]
            example: ["card.spend"]
            style: form
            explode: true
          - name: status
            in: query
            description: Filter by transaction status
            schema:
              type: array
              items:
                type: string
                enum: [posted, pending, void]
            example: ["posted"]
            style: form
            explode: true
          - name: subStatus
            in: query
            description: Filter by transaction sub-status
            schema:
              type: array
              items:
                type: string
                enum: [settled, refund, reverse, rejected]
            example: ["settled"]
            style: form
            explode: true
          - name: projectId
            in: query
            description: Filter by project ID(s)
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["nike-swoosh-commercial"]
          - name: sourceType
            in: query
            description: Filter by source type
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["card"]
          - name: sourceName
            in: query
            description: Filter by source name
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["Amex 001"]
          - name: sourceLast4
            in: query
            description: Filter by source last 4 digits
            schema:
              oneOf:
                - type: string
                - type: array
                  items:
                    type: string
            style: form
            explode: true
            example: ["4242"]
          - name: description
            in: query
            description: Filter by transaction description
            schema:
              type: string
            example: "Camera rental"
          - name: merchant
            in: query
            description: Filter by merchant name
            schema:
              type: string
            example: "B&H Photo"
          - name: contactTitle
            in: query
            description: Filter by contact title
            schema:
              type: string
            example: "Producer"
          - name: hasAccount
            in: query
            description: Filter by account assignment
            schema:
              type: boolean
            example: true
          - name: isActualized
            in: query
            description: Filter by actualization status
            schema:
              type: boolean
            example: false
          - $ref: '#/components/parameters/HasAttachments'
          - name: hasContact
            in: query
            description: Filter by contact presence
            schema:
              type: boolean
            example: true
          - $ref: '#/components/parameters/StartDate'
          - $ref: '#/components/parameters/EndDate'
          - name: expands
            in: query
            description: Include related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [project, contact, account, actual, attachments]
            style: form
            explode: true
            example: ["project", "attachments"]
            x-example-description: "Use as: expands[]=project&expands[]=attachments"
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: List of transactions
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    transactions:
                      type: array
                      items:
                        $ref: '#/components/schemas/Transaction'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /transactions/{transactionId}:
      parameters:
        - name: transactionId
          in: path
          required: true
          description: Transaction identifier
          schema:
            type: string
            example: txn-abc-123
      
      get:
        operationId: getTransaction
        summary: Get transaction
        description: Retrieve a specific transaction by ID
        tags:
          - Transactions
        parameters:
          - $ref: '#/components/parameters/IdMode'
        responses:
          '200':
            description: Transaction details
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Transaction'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'
      
      put:
        operationId: updateTransaction
        summary: Update transaction
        description: Update an existing transaction
        tags:
          - Transactions
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTransactionInput'
        responses:
          '200':
            description: Transaction updated successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Transaction'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /transactions/{transactionId}/attachment:
      parameters:
        - name: transactionId
          in: path
          required: true
          description: Transaction identifier
          schema:
            type: string
            example: txn-abc-123
      
      post:
        operationId: uploadTransactionAttachment
        summary: Upload transaction attachment
        description: Upload an attachment for a transaction
        tags:
          - Transactions
        requestBody:
          required: true
          content:
            multipart/form-data:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    format: binary
                    description: Attachment file
                required:
                  - file
        responses:
          '201':
            description: Attachment uploaded successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/File'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    # ========================================
    # RATEPACK ENDPOINTS
    # ========================================

    /rates:
      get:
        operationId: listWorkspaceRates
        summary: List workspace rates
        description: Retrieve all rates from the workspace
        tags:
          - Rates
        parameters:
          - name: expands
            in: query
            description: Expand related data in the response
            schema:
              type: array
              items:
                type: string
                enum: [contact]
            example: ["contact"]
            x-example-description: "Use as: expands[]=contact"
            style: form
            explode: true
          - name: search
            in: query
            description: Search rates by name, description, or note
            schema:
              type: string
            example: "camera"
          - name: limit
            in: query
            description: Maximum number of results to return
            schema:
              type: integer
              minimum: 1
              maximum: 1000
              default: 100
            example: 50
          - name: offset
            in: query
            description: Number of results to skip for pagination
            schema:
              type: integer
              minimum: 0
              default: 0
            example: 0
        responses:
          '200':
            description: List of workspace rates
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    rates:
                      type: array
                      items:
                        $ref: '#/components/schemas/Rate'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'

      post:
        operationId: createWorkspaceRate
        summary: Create workspace rate
        description: Create a new rate in the workspace
        tags:
          - Rates
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRateInput'
        responses:
          '201':
            description: Rate created successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Rate'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /rates/{rateId}:
      put:
        operationId: updateWorkspaceRate
        summary: Update workspace rate
        description: Update a rate in the workspace
        tags:
          - Rates
        parameters:
          - name: rateId
            in: path
            required: true
            description: Rate identifier
            schema:
              type: string
            example: item-001
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRateInput'
        responses:
          '200':
            description: Rate updated successfully
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Rate'
          '400':
            $ref: '#/components/responses/BadRequest'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

      delete:
        operationId: deleteWorkspaceRate
        summary: Delete workspace rate
        description: Delete a rate from the workspace
        tags:
          - Rates
        parameters:
          - name: rateId
            in: path
            required: true
            description: Rate identifier
            schema:
              type: string
            example: item-001
        responses:
          '204':
            description: Rate deleted successfully
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /public/rates:
      get:
        operationId: listPublicRatepacks
        summary: List public ratepacks
        description: Retrieve all public ratepacks accessible across workspaces
        tags:
          - Public Rates
        parameters:
          - name: search
            in: query
            description: Search ratepacks by name
            schema:
              type: string
            example: "IATSE"
        responses:
          '200':
            description: List of public ratepacks
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    ratepacks:
                      type: array
                      items:
                        $ref: '#/components/schemas/PublicRatepack'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '500':
            $ref: '#/components/responses/InternalServerError'

    /public/rates/{ratepackId}:
      get:
        operationId: getPublicRates
        summary: Get public rates
        description: Retrieve all rates from a public ratepack
        tags:
          - Public Rates
        parameters:
          - name: ratepackId
            in: path
            required: true
            description: Public ratepack identifier (ID or alias)
            schema:
              type: string
            example: "iatse-local-600"
          - name: search
            in: query
            description: Search rates by name, description, or note
            schema:
              type: string
            example: "camera"
          - name: limit
            in: query
            description: Maximum number of results to return
            schema:
              type: integer
              minimum: 1
              maximum: 1000
              default: 100
            example: 50
          - name: offset
            in: query
            description: Number of results to skip for pagination
            schema:
              type: integer
              minimum: 0
              default: 0
            example: 0
        responses:
          '200':
            description: List of rates from the public ratepack
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    rates:
                      type: array
                      items:
                        $ref: '#/components/schemas/PublicRate'
          '401':
            $ref: '#/components/responses/Unauthorized'
          '404':
            $ref: '#/components/responses/NotFound'
          '500':
            $ref: '#/components/responses/InternalServerError'


  components:
    securitySchemes:
      ApiKeyAuth:
        type: apiKey
        in: header
        name: X-API-Key
        description: API key for authentication

    parameters:
      ProjectId:
        name: projectId
        in: path
        required: true
        description: Project identifier (alias or ID)
        schema:
          type: string
        example: nike-spring-2024
      
      IdMode:
        name: idMode
        in: query
        description: ID interpretation mode. Controls how path and query parameter IDs (like lineId, accountId, phaseId) are interpreted - 'user' for human-readable IDs (account codes, phase names), 'system' for database IDs (UUIDs/nanoids). Also affects the format of IDs in responses.
        schema:
          type: string
          enum: [user, system]
          default: user
        example: user
      
      StartDate:
        name: startDate
        in: query
        description: Return results on or after this date (ISO 8601)
        schema:
          type: string
          format: date-time
        example: "2024-01-01T00:00:00Z"
      
      EndDate:
        name: endDate
        in: query
        description: Return results on or before this date (ISO 8601)
        schema:
          type: string
          format: date-time
        example: "2024-01-31T23:59:59Z"
      
      HasAttachments:
        name: hasAttachments
        in: query
        description: Filter by whether attachments are present
        schema:
          type: boolean
        example: true

    schemas:
      Project:
        type: object
        properties:
          id:
            type: string
            description: Project identifier (alias in user mode, UUID in system mode)
            example: nike-swoosh-commercial
          name:
            type: string
            nullable: true
            description: Project display name
            example: Nike Swoosh Commercial
          icon:
            type: string
            nullable: true
            description: Project icon or emoji
            example: "☀️"
          imageUrl:
            type: string
            nullable: true
            description: Project image URL
            example: https://example.com/project-banner.jpg
          spaceId:
            type: string
            nullable: true
            description: Associated project space ID (deprecated, use space object)
            example: commercial-productions
          space:
            type: object
            nullable: true
            description: Project space/folder information
            properties:
              id:
                type: string
                description: Space identifier
                example: commercial-productions
              name:
                type: string
                description: Space display name
                example: Commercial Productions
          templateId:
            type: string
            nullable: true
            description: Template project ID (deprecated, use template object)
            example: commercial-template
          template:
            type: object
            nullable: true
            description: Template project information
            properties:
              id:
                type: string
                description: Template identifier
                example: commercial-template
              name:
                type: string
                description: Template name
                example: Commercial Template
          status:
            type: string
            enum: [active, archived]
            description: Project status
            example: active
          labels:
            type: array
            items:
              type: string
            description: Project labels for categorization
            example: ["nike", "q2-2024", "post-production"]
          createdAt:
            type: string
            format: date-time
            description: Project creation timestamp
            example: "2024-01-15T10:00:00Z"
          updatedAt:
            type: string
            format: date-time
            description: Project last update timestamp
            example: "2024-03-20T14:30:00Z"
        required:
          - id
          - status
          - createdAt
          - updatedAt

      CreateProjectInput:
        type: object
        properties:
          name:
            type: string
            nullable: true
            description: Project display name (defaults to "Untitled Project")
            example: Nike Holiday Commercial
          icon:
            type: string
            nullable: true
            description: Project icon or emoji
            example: "📊"
          imageUrl:
            type: string
            nullable: true
            description: Project image URL
            example: https://example.com/banner.jpg
          spaceId:
            type: string
            nullable: true
[...]
